name: Copy patches

on:
  workflow_dispatch:

jobs:
  copy_patches:
    name: Copy Tunnelblick patches
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout Tunnelblick source code
        uses: actions/checkout@v4
        with:
          repository: Tunnelblick/Tunnelblick
          ref: main
          path: Tunnelblick

      - name: Copy patches
        run: |
          counter=0
          for dir in Tunnelblick/third_party/sources/openvpn/*/; do
            TAG=`echo $dir | grep -oE '[0-9]+.[0-9]+.[0-9]+'`

            if [[ "$TAG" == "" ]]; then
              exit 1
            fi

            if [ ! -d patches/v$TAG/ ]; then
              counter=$((counter + 1))
              echo "Copy v$TAG patches"
              mkdir patches/v$TAG/
              cp `echo $dir`patches/*openvpn_xorpatch*.diff patches/v$TAG/
            fi
          done

          if (( counter == 0 )); then
            echo "No new versions found."
          fi

      - name: Remove Tunnelblick source code
        run: rm -rf Tunnelblick

      - name: Commit patches
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Add new patches from Tunnelblick
          branch: main
